/*
Created by Hua Hoang Duy
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
$bg-color: #fafafa;
$main-color: #262626;
$primary: #007bff;

input[type="file"] {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  outline: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Poppins", sans-serif;
}
body {
  font-size: 14px;
  background: $bg-color;
  color: $main-color;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
header {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 90;
}
ul {
  list-style: none;
}
a {
  color: #333;
  text-decoration: none;
}
.text-primary {
  color: #0095f6;
}
.nav {
  width: 100%;
  background-color: #fff;
  height: 54px;
  border-bottom: 1px solid #dbdbdb;
  align-items: center;
  display: flex;
}
.nav-container {
  max-width: 975px;
  height: 54px;
  display: flex;
  width: 100%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 26px;

  .nav-logo {
    flex: 1;
    height: 28px;
  }
  .nav-search {
    flex: 1;
    height: 28px;
    min-width: 125px;
    width: 215px;

    .search-nav-content {
      position: relative;

      input {
        font-size: 14px;
        background: #fafafa;
        border: 1px solid #dbdbdb;
        line-height: 28px;
        outline: 0;
        padding-left: 15px;
        padding-right: 10px;
      }
      .nav-search-btn {
        cursor: pointer;
        line-height: 28px;
        margin-left: -4px;
        width: 30px;
        border: 1px solid #dbdbdb;
        outline: none;
      }
    }
  }
  .nav-user {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    .nav-user-container {
      padding-left: 24px;
      display: flex;
      .nav-user-item {
        font-size: 25px;
        display: block;
        margin: 0 10px;
      }
    }
  }
}
.function {
  position: relative;
  cursor: pointer;
}

.function > .guess {
  position: absolute;
  width: 230px;
  right: 0;
  transition: all 0.4s ease;
  font-size: 16px;
  box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #ddd;
  opacity: 0;
  visibility: hidden;
  transform: rotateX(-90deg);
  transition: all 0.4s ease;
  transform-origin: 0 0;
}
.function.dropdown > .guess {
  opacity: 1;
  visibility: visible;
  transform: rotateX(0);
}
.guess-container {
  width: 100%;
}
.guess-container > .guess-item {
  display: block;
  color: #333;
  text-decoration: none;
  padding: 7px 10px;

  span {
    color: #666;
    padding-left: 10px;
  }
}
.guess-container > .guess-item:hover {
  background: #eee;
}
.btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  line-height: 1.5;
  transition: background-color 0.3s ease;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  outline: none;
}
.rounded {
  border-radius: 0.25rem !important;
}
@media only screen and(max-width:768px) {
  .nav-container {
    .nav-search {
      display: none;
    }
  }
}
.body-content {
  max-width: 935px;
  margin: 60px auto 30px;
  width: 100%;
}
.user-info {
  width: 100%;
  padding-top: 30px;
  display: flex;
  .user-avatar {
    flex: 1;
    flex-basis: 0;
    .avatar-profile {
      border: 2px solid #e3e3e3;
      border-radius: 50%;
      height: 150px;
      line-height: 150px;
      width: 150px;
      text-align: center;
      position: relative;
      background: #fff;
      &::after {
        position: absolute;
        content: "";
        width: 110%;
        height: 110%;
        background: linear-gradient(142deg, #ff455b, #c61ee7, #fff130);
        top: -5%;
        left: -5%;
        z-index: -1;
        border-radius: 50%;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }
  }
  .user-introduce {
    flex: 2;
    flex-basis: 30px;
    .user-name {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      .user-name-title {
        font-weight: 400;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      span {
        margin-left: 5px;
      }
      .user-follow {
        margin-left: 10px;
      }
    }
    .user-more {
      display: flex;
      list-style: none;
      margin-bottom: 20px;
      .more-item {
        font-size: 16px;
        margin-right: 40px;
        color: #555;
      }
    }
    .user-about {
      display: flex;
      flex-direction: column;
      .user-about-title {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
      }
      span {
        color: #555;
      }
      .user-author {
        font-weight: 600;
        color: #00376b;
        margin-top: 5px;
      }
    }
  }
}
.bold {
  font-weight: bold;
  color: #262626;
}
.btn-follow {
  background: #0095f6;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  white-space: nowrap;
  border-radius: 3px;
  display: inline-block;
  padding: 0 24px;
  transition: background 0.3s ease-in;
  border: 0;
  outline: none;
  cursor: pointer;
  &:hover {
    background: #075386;
  }
}
.btn-setting {
  background-color: transparent;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  font-weight: 600;
  width: auto;
  user-select: none;
  text-overflow: ellipsis;
  display: block;
  text-align: center;
  padding: 5px 9px;
  i {
    font-size: 20px;
  }
}
@media screen and(min-width: 736px) {
  .body-content {
    width: calc(100% - 40px);
  }
}
@media only screen and(max-width: 736px) {
  .user-info {
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    .user-avatar {
      width: 100%;
      flex: 0;
      flex-grow: 1;
      .avatar-profile {
        text-align: center;
        display: block;
        margin: 0 auto 10px;
      }
    }
    .user-introduce {
      width: 100%;
      flex: 0;
      flex-grow: 1;
      text-align: center;
      .user-name {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .user-more {
        align-items: center;
        justify-content: center;
      }
    }
  }
}
.user-posts {
  margin-top: 40px;
  width: 100%;
  .user-own {
    margin-top: 15px;
    margin-bottom: 20px;
    text-align: center;
    color: #444;
    i {
      font-size: 35px;
      line-height: 1.5;
    }
    h1 {
      font-weight: 400;
      font-size: 35px;
    }
    p {
      font-size: 15px;
      line-height: 35px;
    }
  }
  .user-posts-list {
    width: 100%;
    display: flex;
    overflow: hidden;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 15px;
    .article-post {
      width: 293px;
      height: 293px;
      margin-right: 28px;
      margin-bottom: 25px;
      overflow: hidden;
      .post-a {
        position: relative;
        display: block;
        .post-thumb {
          position: relative;
          width: 293px;
          height: 293px;
          object-fit: cover;
        }
        .fa-clone {
          position: absolute;
          top: 5px;
          right: 10px;
          color: #fff;
        }
        .article-more {
          display: none;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: #eee;
          font-size: 20px;
          z-index: 5;
          span {
            margin: 0 10px;
          }
        }
        &:after {
          content: "";
          position: absolute;
          background: rgba(0, 0, 0, 0.5);
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          visibility: hidden;
          transition: all 0.3s ease-out;
        }
        &:hover::after {
          opacity: 1;
          visibility: visible;
        }
        &:hover .article-more {
          display: block;
        }
      }
    }
    .article-post:nth-child(3n + 3) {
      margin-right: 0px;
    }
  }
}
.line {
  width: 100%;
  border-top: 1px solid #dbdbdb;
}
.red {
  color: #ed4956 !important;
}
.line-title {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  font-weight: 600;
  color: #444;
}
@media only screen and(max-width:736px) {
  .user-posts-list {
    width: 100%;
    display: flex;
    overflow: hidden;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    .article-post {
      width: 49% !important;
      margin-right: 0 !important;
      margin-bottom: 5px !important;
      .post-thumb {
        width: 100% !important;
      }
    }
  }
}
.view-post {
  padding-top: 5px;
}
.article {
  min-height: 450px;
  max-width: 815px;
  width: 100%;
  margin: 20px auto 0;
  display: flex;
  background: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  .carousel-container {
    width: 478px;
    overflow: hidden;
    position: relative;
    #prevBtn,
    #nextBtn {
      position: absolute;
      cursor: pointer;
      width: 30px;
      height: 30px;
      background: #444;
      color: #eee;
      line-height: 30px;
      text-align: center;
      border-radius: 50%;
      font-size: 12px;
      z-index: 2;
    }
    #prevBtn {
      top: 50%;
      left: 5px;
    }
    #nextBtn {
      top: 50%;
      right: 5px;
    }
    .carousel-slide {
      display: flex;
      img {
        width: 100%;
        height: 600px;
        object-fit: cover;
      }
    }
  }
  .article-content {
    height: 100%;
    max-width: 335px;
    width: 100%;
    overflow: hidden;
    .article-author {
      padding: 16px;
      height: 72px;
      display: flex;
      align-items: center;
      position: relative;
      .article-avatar {
        width: 32px;
        height: 32px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
        }
      }
      .article-author-name {
        margin-left: 10px;
        font-weight: 600;
        font-size: 14px;
        display: flex;
        text-overflow: ellipsis;
        a:hover {
          text-decoration: underline;
        }
        span {
          margin-left: 6px;
          img {
            width: 13px;
          }
        }
        .follow {
          a {
            color: #0095f6;
            font-weight: 600;
          }
        }
      }
      .article-action {
        position: absolute;
        right: 4px;
        top: 0;
        height: 72px;
        display: flex;
        justify-content: center;
        align-items: center;
        button {
          background: 0 0;
          border: 0;
          cursor: pointer;
          padding: 8px;
          color: #262626;
          outline: none;
        }
      }
    }
    .article-talk {
      padding: 12px 16px;
      height: 350px;
      overflow-y: scroll;
      box-sizing: content-box;
      .article-talk-item {
        padding-bottom: 16px;
        display: flex;
        .talk-avatar {
          width: 46px;
          img {
            width: 32px;
            height: 32px;
            object-fit: cover;
            border-radius: 50%;
          }
        }
        .talk-content {
          word-break: break-word;
          width: fit-content;
          h3 {
            display: inline-block;
            font-size: 14px;
            a:hover {
              text-decoration: underline;
            }
          }
          img {
            width: 13px;
          }
          .talk-times {
            font-size: 12px;
            font-weight: 400;
            line-height: 14px;
            cursor: default;
            color: #8e8e8e;
            margin-top: 16px;
            margin-bottom: 4px;
          }
        }
      }
      &::-webkit-scrollbar {
        width: 0px;
        background: none;
      }
    }
    .article-action {
      padding-top: 4px;
      padding-left: 16px;
      padding-right: 16px;
      border-top: 1px solid #efefef;
      font-size: 24px;
      i {
        color: #333;
        cursor: pointer;
        padding-right: 8px;
      }
    }
  }
  .article-info {
    padding: 0 16px;
    margin-bottom: 4px;
    font-weight: 600;
    color: #262626;
    letter-spacing: 0.5px;
    .article-times {
      color: #8e8e8e;
      text-transform: uppercase;
      margin-bottom: 5px;
      font-size: 10px;
      line-height: 18px;
      letter-spacing: 0.2px;
      font-weight: 400;
    }
  }
  .article-comment {
    margin-top: 8px;
    border-top: 1px solid #efefef;
    min-height: 56px;
    padding: 0 16px;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;
    align-items: stretch;
    form {
      display: flex;
      flex-grow: 1;
      flex-shrink: 1;
      align-items: center;
    }
    .article-input {
      height: 18px;
      background: 0 0;
      border: 0;
      color: #262626;
      display: flex;
      flex-grow: 1;
      max-height: 80px;
      outline: 0;
      padding: 0;
      resize: none;
    }
    button {
      color: #0095f6;
      display: inline;
      border: 0;
      font-weight: 600;
      text-overflow: ellipsis;
      cursor: pointer;
      background: 0 0;
      width: auto;
      font-size: 14px;
      outline: none;
    }
  }
}
@media only screen and(max-width: 768px) {
  .article {
    width: 100%;
    flex-wrap: wrap;
    .carousel-container {
      width: 100%;
    }
    .article-content {
      width: 100% !important;
      max-width: 100%;
    }
  }
}
.center {
  align-items: center;
  text-align: center;
}
.settings {
  margin-top: 70px;
  width: 100%;
  background: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  display: flex;
  .setting-nav {
    border-right: 1px solid #dbdbdb;
    flex-basis: 236px;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    .setting-nav-a {
      border-left: 2px solid transparent;
      display: block;
      font-size: 16px;
      height: 100%;
      line-height: 20px;
      padding: 16px 16px 16px 30px;
      width: calc(100% -48px);
      &:hover {
        background: rgb(247, 247, 247);
        border-left-color: #dbdbdb;
      }
    }
    .setting-ac {
      border-left-color: #262626 !important;
      background: #fff !important;
    }
    .setting-bottom {
      position: absolute;
      bottom: 0;
      width: 100%;
      hr {
        background-color: #dbdbdb;
        border: 0;
        height: 1px;
        margin: 0;
        width: 100%;
      }
      span {
        display: block;
        margin-top: 28px;
        margin-right: 20px;
        margin-left: 16px;
        margin-bottom: 28px;
      }
    }
  }
  .setting-content {
    min-width: 50px;
    flex: 1 1 400px;
    display: flex;
    flex-shrink: 0;
    align-items: stretch;
    flex-direction: column;
    .list-control {
      margin-top: 16px;
      margin-bottom: 16px;
      display: flex;
      align-items: stretch;
      flex-direction: column;
      .control-input {
        display: flex;
        align-items: stretch;
        margin-bottom: 16px;
        justify-content: flex-start;
        aside {
          padding-left: 32px;
          padding-right: 32px;
          text-align: right;
          margin-top: 6px;
          font-size: 16px;
          font-weight: 600;
          line-height: 18px;
          color: #262626;
          flex: 0 0 194px;
        }
        .input {
          flex-basis: 355px;
          max-width: 355px;
          width: 100%;
          padding-right: 60px;
          input {
            width: 100%;
            background: 0 0;
            border: 1px solid #dbdbdb;
            border-radius: 3px;
            height: 32px;
            padding: 0 10px;
            font-size: 16px;
          }
          textarea {
            background: 0 0;
            border: 1px solid #dbdbdb;
            border-radius: 3px;
            padding: 6px 10px;
            width: 100%;
            height: 60px;
            resize: vertical;
          }
          .input-suggest {
            max-width: 355px;
            width: 100%;
            margin-top: 16px;
            margin-bottom: 8px;
            color: #8e8e8e;
            font-size: 12px;
            line-height: 14px;
          }
        }
      }
    }
  }
}
@media only screen and(max-width: 736px) {
  .settings {
    flex-direction: column;
    .setting-nav {
      flex-basis: 0;
      display: none;
    }
    .setting-content {
      width: 100%;
      flex: 0;
      aside {
        flex: 0 0 150px !important;
      }
      .input {
        width: 100%;
        flex: 0;
      }
    }
  }
}
.list-create {
  width: 100%;
  margin-top: 15px;
}
.box-input {
  width: 100%;
  margin: 10px 0px;
  p {
    font-weight: 600;
  }
}
.form-control {
  width: 100%;
  resize: vertical;
  background: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  padding: 7px 10px;
  outline: none;
  font-size: 16px;
  transition: all 0.3s ease;
  &:focus {
    box-shadow: 0 0 10px rgba(56, 158, 206, 0.65);
  }
}
.file {
  width: 100%;
  cursor: pointer;
}
.btn-create {
  width: 50%;
  margin: 0 auto;
  display: block;
  height: 32px;
  outline: none;
  background: rgb(74, 207, 125);
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-weight: 600;
}
// style for index
.visibility-hidden {
  visibility: hidden;
}
.float-right {
  float: right !important;
}
.float-left {
  float: left !important;
}
.card {
  width: 100%;
  margin-bottom: 15px;
  word-wrap: break-word;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid rgba(111, 111, 111, 0.125);
  position: relative;
  .card-body {
    padding: 10px;
    .media {
      display: flex;
      .author-avatar {
        margin-right: 10px;
        img {
          border-radius: 50%;
          object-fit: cover;
        }
      }
      .media-body {
        width: 100%;
        textarea {
          border: 0 !important;
          outline: none;
          padding: 7px 10px;
          resize: none;
        }
      }
    }
  }
  .card-footer {
    padding: 9px 12px;
  }
}
.post-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .post-btn-group {
    display: flex;
    align-items: center;
  }
}
.rounded-pill {
  border-radius: 50rem !important;
}
@for $i from 10 to 50 {
  .f-size-#{$i} {
    font-size: $i + px !important;
  }
}
.btn-primary {
  background-color: $primary;
  color: #fff;
}
.box-welcome {
  width: 100%;
  padding-top: 30px;
  display: flex;
  max-width: 935px;
  flex-flow: row nowrap;
  .welcome-left {
    float: left;
    margin-right: 28px;
    max-width: 614px;
    width: 100%;
    .box-view {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: stretch;
      .post-index {
        background-color: #fff;
        border: 1px solid #dbdbdb;
        border-radius: 3px;
        position: relative;
        margin-bottom: 60px;
        .post-index-author {
          display: flex;
          align-items: center;
          flex-direction: row;
          height: 60px;
          padding: 16px;
          .post-index-avatar {
            display: block;
            width: fit-content;
            height: fit-content;
            img {
              width: 32px;
              height: 32px;
              object-fit: cover;
              border-radius: 50%;
            }
          }
          .post-index-name {
            margin-left: 12px;
            display: flex;
            flex-shrink: 1;
            flex-grow: 1;
            span {
              display: block;
              max-width: 220px;
              padding: 2px;
              font-weight: 600;
              width: 100%;
              a:hover {
                text-decoration: underline;
              }
            }
          }
        }
        .post-btn-index {
          position: absolute;
          top: 0;
          right: 4px;
          height: 60px;
          display: flex;
          justify-content: center;
          align-items: center;
          .post-index-button {
            background: 0 0;
            border: 0;
            cursor: pointer;
            padding: 8px;
            color: #262626;
            outline: none;
          }
        }
        .post-index-img {
          display: flex;
          flex-shrink: 0;
          align-items: stretch;
          justify-content: center;
          background-color: #fff;
          img {
            width: 100%;
          }
        }
        .post-index-content {
          width: 100%;
          .post-index-operation {
            padding: 10px 16px 0 16px;
            span {
              user-select: none;
              font-size: 30px;
              display: inline-block;
              margin-right: 6px;
              i {
                cursor: pointer;
              }
            }
            .post-count-img {
              float: right;
              font-size: 30px;
              cursor: pointer;
              padding-top: 5px;
            }
          }
          .post-index-like {
            padding: 0 16px;
            margin-bottom: 8px;
            font-weight: 600;
            letter-spacing: 0.5px;
          }

          .post-index-comment {
            padding: 0 16px;
            width: 100%;
            border-top: 1px solid #efefef;
            font-size: 14px;
            line-height: 18px;
            min-height: 56px;
            form {
              display: flex;
              align-items: center;
              flex-grow: 1;
              flex-shrink: 1;
              position: relative;
              .btn-smiley {
                padding: 8px 16px 8px 0;
                display: inline-block;
                text-align: center;
                background: none;
                border: 0;
                outline: none;
                font-size: 25px;
                color: #333 !important;
              }
              textarea {
                background: 0 0;
                border: 0;
                color: #262626;
                display: flex;
                flex-grow: 1;
                font-size: inherit;
                height: 18px;
                max-height: 80px;
                outline: 0;
                padding: 0;
                resize: none;
                width: 0;
              }
              button {
                color: #0095f6;
                display: inline;
                border: 0;
                font-weight: 600;
                text-overflow: ellipsis;
                cursor: pointer;
                background: 0 0;
                width: auto;
                font-size: 14px;
                outline: none;
              }
            }
          }
        }
        .post-index-msg {
          width: 100%;
          padding: 0 16px;
          .post-index-text {
            max-height: 70px;
            text-overflow: ellipsis;
            overflow: auto;
            .post-text-author {
              font-weight: 600;
            }
          }
        }
        .post-index-times {
          color: #8e8e8e;
          padding: 0 16px;
          text-transform: uppercase;
          margin-bottom: 10px;
          letter-spacing: 0.2px;
          font-size: 11px;
        }
      }
    }
  }
  .welcome-right {
    max-width: 293px;
    width: 100%;
    position: sticky;
    top: 75px;
    height: fit-content;
    .box-right-self {
      height: auto;
      margin-bottom: 10px;
      margin-top: 18px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .box-right-avatar {
        margin-right: 12px;
        flex: 0 0 auto;
        img {
          width: 56px;
          height: 56px;
          object-fit: cover;
          border-radius: 50%;
        }
      }
      .box-right-user {
        display: flex;
        flex: 1 1 auto;
        justify-content: center;
        align-items: stretch;
        flex-direction: column;
        overflow: hidden;
        text-overflow: ellipsis;
        .user-bold {
          font-weight: 600;
        }
        .user-fullname a {
          color: #8e8e8e;
        }
      }
      .box-right-out {
        margin-left: 6px;
        flex: 0 0 auto;
        a {
          color: #0095f6;
          font-size: 12px;
          font-weight: 600;
        }
      }
    }
    .box-right-suggest {
      margin: 0 0 12px -16px;
      width: calc(100% + 32px);
      .suggest-text {
        padding: 4px 16px;
        margin-top: 12px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        div {
          color: #8e8e8e;
          flex: 1 1 auto;
          font-weight: 600;
        }
        a {
          font-weight: 600;
          font-size: 12px;
        }
      }
      .suggest-list {
        margin-left: 4px;
        margin-bottom: 4px;
        .suggest-list-user {
          padding-bottom: 8px;
          padding-top: 8px;
          .suggest-user {
            padding-left: 16px;
            padding-right: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: stretch;
            .suggest-user-avatar {
              margin-right: 12px;
              flex: 0 0 auto;
              img {
                width: 32px;
                height: 32px;
                object-fit: cover;
                border-radius: 50%;
              }
            }
            .suggest-user-name {
              display: flex;
              justify-content: center;
              align-items: stretch;
              flex-direction: column;
              flex: 1 1 auto;
              .suggest-u {
                font-weight: 600;
              }
              .suggest-f {
                font-size: 12px;
                color: #8e8e8e;
              }
            }
            .suggest-user-follow {
              margin-left: 8px;
              a {
                color: #0095f6;
                font-weight: 600;
                font-size: 12px;
                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .post-index-img {
    img {
      width: 100%;
      height: 750px;
      object-fit: cover;
    }
  }
}
@media screen and (min-width: 1000px) {
  .post-index-img {
    img {
      width: 614px !important;
      height: 750px;
      object-fit: cover;
    }
  }
}
@media screen and (max-width: 750px) {
  .post-index-img {
    img {
      width: 375;
      height: 469px;
      object-fit: cover;
    }
  }
}
.hidden {
  display: none;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and(max-width: 768px) {
  .box-welcome {
    max-width: 100% !important;
    flex-flow: column wrap;
    margin: 0 auto;
    padding-right: 10px;
    padding-left: 10px;
  }
  .post-index {
    margin-bottom: 20px !important;
  }
  .welcome-left {
    width: 100% !important;
    margin-right: 0 !important;
    max-width: 100% !important;
  }
  .welcome-right {
    display: none;
  }
}
.likeButton {
  background: none;
  outline: none;
  border: none;
  font-size: 30px;
  display: inline-block;
}
.function-fixed {
  background: rgba(0, 0, 0, 0.65);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 95;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  overflow-y: hidden;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease-in;
  .function-container {
    width: 400px;
    margin: 20px;
    max-height: calc(100% - 40px);
    .function-content {
      background-color: #fff;
      max-height: 100%;
      border-radius: 12px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: stretch;
      .function-btn {
        background: transparent;
        border-bottom: 0;
        border-left: 0;
        border-right: 0;
        border-top: 1px solid #dbdbdb;
        cursor: pointer;
        line-height: 1.5;
        min-height: 48px;
        padding: 4px 8px;
        text-align: center;
        user-select: none;
        vertical-align: middle;
        outline: none;
        &:active {
          background: #dbdbdb;
        }
      }
      .function-red {
        color: #ed4956;
        font-weight: 700;
      }
    }
  }
}
.function-open {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}
.hidden {
  opacity: 0;
}
.pop-up {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background: #555;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  letter-spacing: 0.5px;
  font-size: 16px;
  z-index: 96;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in;
  transform: translateY(50px);
}
.pop-up-open {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}
.any-follow {
  padding-top: 30px;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  h4 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
  }
  .any-follow-list {
    margin-top: 16px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #dbdbdb;
    display: flex;
    flex-direction: column;
    .any-item {
      padding: 8px 16px;
      display: flex;
      flex-direction: row;
      align-items: center;
      .any-item-avatar {
        margin-right: 12px;
        flex: 0 0 auto;
        img {
          widows: 44px;
          height: 44px;
          object-fit: cover;
          border-radius: 50%;
        }
      }
      .any-item-profile {
        flex: 1 1 auto;
        .any-profile-user {
          font-weight: 600;
          a {
            &:hover {
              text-decoration: underline;
            }
          }
        }
        .any-profile-name {
          color: #8e8e8e;
        }
        .any-profile-sg {
          font-size: 12px;
          color: #8e8e8e;
        }
      }
      .any-item-btn {
        margin-left: 8px;
      }
    }
  }
}
.btn-follow-sm {
  background: #0095f6;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  font-weight: 600;
  color: #fff;
  padding: 5px 9px;
  text-align: center;
  user-select: none;
  width: auto;
  text-overflow: ellipsis;
  line-height: 18px;
  font-size: 14px;
  transition: background 0.3s ease;
  &:hover {
    background: #085f99;
  }
}
.drop-file-post {
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px dashed #075386;
  padding: 20px 0;
  border-radius: 10px;
  .new-post-btn {
    display: block;
    width: 160px;
    margin: 0 auto;
    height: 160px;
    cursor: pointer;
    background: transparent;
    outline: none;
    border-radius: 10px;
    border: 0;
    i {
      font-size: 130px;
      transition: color 0.3s linear;
      color: #0095f6;
    }
    &:hover {
      i {
        color: #ed4956;
      }
    }
  }
}
// ajax show follower
.list-followers {
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  li {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 8px 0;
    .any-item-avatar {
      margin-right: 12px;
      img {
        display: block;
        width: 40px;
        height: 40px;
      }
    }
    .any-item-profile {
      flex: 1 1 auto;
      .any-profile-user {
        font-weight: 600;
        text-overflow: ellipsis;
      }
      .any-profile-name {
        color: #8e8e8e;
      }
    }
  }
}
//spin css
.spiner {
  position: fixed;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  right: 0;
  bottom: 0;
  z-index: 500;
  background: rgba(0, 0, 0, 0.65);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.3s ease;
}
.spiner.active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #cef;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
// display noti on screen
.noti-fixed {
  position: fixed;
  z-index: 200;
  left: 10px;
  bottom: 10px;
  .noti-content {
    max-width: 250p;
    padding: 5px 7px;
    border-radius: 5px;
    font-size: 14px;
    background-color: #0095f6;
    color: #fff;
    letter-spacing: 0.5px;
    animation: toTop 0.3s ease-in;
    margin: 10px 0;
  }
}
@keyframes toTop {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
@media screen and (max-width: 768px) {
  .body-content {
    padding: 0 10px;
  }
}
.flex-p {
  align-items: stretch;
  border: 0 solid #000;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  position: relative;
}
.aj-following {
  cursor: pointer;
}
.woa {
  flex: 0 0 48px;
}
.modal {
  position: fixed;
  z-index: 1200;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.65);
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in;
  pointer-events: none;
  overflow: hidden;
  .dialog {
    max-height: 400px;
    min-height: 200px;
    margin: 20px;
    background-color: #fff;
    width: 400px;
    border-radius: 12px;
    transform: scale(1.2);
    transition: all 0.2s ease-in;
    overflow: hidden;
    .modal-header {
      border-bottom: 1px solid #dbdbdb;
      display: flex;
      height: 43px;
      flex-direction: row;
      .modal-title {
        flex-grow: 1;
        text-align: center;
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
      }
      .modal-close {
        button {
          border: 0;
          background: 0 0;
          cursor: pointer;
          padding: 8px;
        }
      }
    }
    .modal-body {
      padding-left: 16px;
      padding-right: 16px;
      padding-top: 8px;
      width: 100%;
      height: 100%;
      padding-bottom: 8px;
      overflow-y: auto;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: stretch;
    }
  }
}
.modal.open {
  pointer-events: all;
  opacity: 1;
  visibility: visible;
  .dialog {
    transform: scale(1);
  }
}
.button {
  margin: 10px 0;
  width: 100%;
  border: 1px solid transparent;
  background-color: #0095f6;
  border-radius: 4px;
  color: #fff;
  position: relative;
  display: block;
  cursor: pointer;
  font-weight: 600;
  padding: 5px 9px;
  text-align: center;
  text-overflow: ellipsis;
}
.more-post-author {
  display: block;
  padding-top: 6vh;
  .author-post-title {
    font-weight: 600;
    color: #8e8e8e;
    a {
      color: #4b4b4b;
    }
  }
}
.profile-tab {
  font-weight: 600;
  color: #8e8e8e;
  border-top: 1px solid #dbdbdb;
  letter-spacing: 1px;
  text-align: center;
  font-size: 12px;
  .tab-content {
    color: #8e8e8e;
    text-transform: uppercase;
    display: flex;
    height: 52px;
    justify-content: center;
    align-items: center;
    &:not(:last-child) {
      margin-right: 60px;
    }
    span {
      margin-left: 6px;
    }
  }
  .tab-content.tab-visited {
    border-top: 1px solid #262626;
    margin-top: -1px;
    color: #262626;
  }
}
.share-link{
  background-color: #fff;
  margin-left: -16px;
  margin-right: -16px;
  color: #262626;
  &:hover{
    &:hover{
      background-color: #eee;
    }
  }
}
.share-option{
  display: flex;
  padding: 8px 16px;
  flex: 0 0 auto;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
  .share-option-icon{
    margin-right: 12px;
    i{
      height: 32px;
      width: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 25px;
    }
  }
  .share-option-text{
    flex: 1 1 auto;
    font-weight: 600;
    line-height: 18px;
  }
}
.empty{
  background-color: #d3b09b;
  border: 1px solid #b8937d;
  padding: 5px 7px;
  border-radius: 5px;
  width: 100%;
}
.center{
  text-align: center;
}
footer {
  width: 100%;
  .footer-content {
    width: 100%;
    padding: 20px;
    text-align: center;
    color: #8e8e8e;
  }
}
.phancach {
  background-color: #dbdbdb;
  border: 0;
  height: 1px;
  margin: 0;
  width: 100%;
}
